.body {
  background-color: black;
}

div {
  margin-bottom: 1rem;
}

.defaultButton {
  background-color: aqua;
  border: none;
  color: black;
  padding: 7.5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonClass1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: darkblue;
  text-align: center;
  transition: all 0.2s;
}
